[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
pydantic = "*"
graphene = "*"
flask-graphql = "*"
pymongo = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.8"
